/* Header */

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.header-navbar,
ul {
  text-decoration-style: none;
  color: #2c3e50;
  size: 100px;
  list-style: none;
  text-decoration: none;
}
