/* Header */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.main-nav-user {
  display: flex;
  align-items: center;
}

.main-nav-link {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  margin-right: 2rem;
  font-size: 18px;
  cursor: pointer;
}

.fa-user-circle,
.auth {
  margin-right: 1rem;
}

.header-navbar,
ul {
  text-decoration-style: none;
  color: #2c3e50;
  size: 100px;
  list-style: none;
  text-decoration: none;
}
